<div id="<%= dom_id membre_conseil %>" class="text-[14px]">
  <p class="">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= membre_conseil.nom %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Post nom:</strong>
    <%= membre_conseil.post_nom %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= membre_conseil.contact %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= membre_conseil.mail %>
  </p>

  <p class="">
    <strong class="block font-medium mb-1">Adresses:</strong>
    <%= membre_conseil.adresses %>
  </p>

  <p>
    <%= link_to "Editer le projet", edit_membre_conseil_path(membre_conseil), class: "text-blue-500" %>
  </p>

</div>