<%= form_with(model: membre_conseil, class: "contents") do |form| %>
  <% if membre_conseil.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(membre_conseil.errors.count, "error") %> prohibited this membre_conseil from being saved:</h2>

      <ul>
        <% membre_conseil.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-3 mt-2">
      <%= form.label :nom %>
      <%= form.text_field :nom, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-3 mt-2">
      <%= form.label :post_nom %>
      <%= form.text_field :post_nom, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="col-span-2 mt-2">
      <%= form.label :contact %>
      <%= form.text_field :contact, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-4 mt-2">
      <%= form.label :mail %>
      <%= form.text_field :mail, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
  <div class="mt-2 mb-4">
    <%= form.label :adresses %>
    <%= form.text_area :adresses, rows: 2, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-[3px] px-[10px] bg-blue-600 text-white inline-block cursor-pointer" %>
  </div>
<% end %>
