<tr id="<%= dom_id membre_conseil %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td><%= membre_conseil.nom %></td>
  <td><%= membre_conseil.post_nom %></td>
  <td><%= membre_conseil.contact %></td>
  <td><%= membre_conseil.mail %></td>
  <td><%= membre_conseil.adresses %></td>
  <td>
    <%= link_to "Voir", membre_conseil, class: "rounded-lg py-[2px] px-2 text-white text-[12px] bg-blue-500 font-medium" %>
  </td>
</tr>
