<div id="<%= dom_id membre_conseil %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= membre_conseil.nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Post nom:</strong>
    <%= membre_conseil.post_nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= membre_conseil.contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= membre_conseil.mail %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adresses:</strong>
    <%= membre_conseil.adresses %>
  </p>

</div>
