<div class="w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% content_for :sub_title, t("Membre conseils") %>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-3 bg-white p-2 rounded"><%= render partial: "card", locals: { membre_conseil: @membre_conseil } %></div>
      <div class="col-span-3 p-2 rounded">
        <div class="col-span-2 shadow rounded bg-white p-2">
          <p class="text-xl font-[500]"><%= @montant_apports_usd %> $ </p>
          <p class="text-[14px]">Apport en dollars</p>
        </div>
        <div class="w-full mt-2 rounded shadow bg-white p-2">
          <p class="text-xl font-[500]"><%= @montant_apports_fc %> Fc</p>
          <p class="text-[14px]">Apport en fc</p>
        </div>
      </div>
    </div>

    <div id="Apports" class="min-w-full bg-white p-2 mt-2 rounded-lg">
    
      <table class="w-full text-center">
        <thead>
          <tr class="border-b-[1px] border-gray-400">
            <th>ID</th>
            <th>Somme deposée</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @membre_conseil.historique_apports.each do |apport| %>
            <tr class="border-b-[1px] border-gray-400 text-[14px]">
              <td> <%= apport.id %>  </td>
              <td> <%= apport.montant_recu %> <%= apport.devise %> </td>
              <td> <%= apport.date_jour %> </td>
              <td><span class="text-blue-500"><%= fa_icon "print" %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>

    <div class="inline-block ml-2">
      <%= button_to "Destroy this membre conseil", @membre_conseil, method: :delete, class: "mt-2 rounded-lg py-[2px] px-[10px] bg-red-700 text-[14px] text-red-300 font-medium" %>
    </div>
  </div>
</div>
