<div class="w-[400px] px-4 m-auto bg-white py-2">
  <h2 class="text-center text-2xl font-[500]">Inserer un nouveau utilisateur</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "off", class: "w-full rounded-lg" %>
    </div>

    <div class="field">
      <%= f.label :role %><br />
      <%= f.select :role, options_for_select([
        ["Trésorier", "trésorier"],
        ["Comptable", "comptable"],
        ["chargé de programme", "chargé de programme"],
        ["directeur", "directeur"]
      ]), { include_blank: true }, class: "w-full rounded-lg" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-lg" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full rounded-lg" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-lg" %>
    </div>

    <div class="actions">
      <%= f.submit "Ajouter", class: "w-full rounded-lg py-[3px] bg-blue-500 text-center text-white mt-4" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>