<div id="<%= dom_id projet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titre:</strong>
    <%= projet.titre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= projet.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date debut:</strong>
    <%= projet.date_debut %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date fin:</strong>
    <%= projet.date_fin %>
  </p>

</div>
