<tr id="<%= dom_id projet %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td><%= projet.titre %></td>
  <td><%= projet.description %></td>
  <td><%= projet.date_debut %></td>
  <td><%= projet.date_fin %></td>
  <td></td>
  <td><%= employe.adresse %></td>
  <td>
    <%= link_to "Voir", projet, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
</tr>






