<div class="w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% content_for :sub_title, t("Projets") %>

    <div class="flex justify-between items-center">
      <div></div>
      <div class="mb-2">
        <button class="bg-blue-500 text-white rounded text-[12px] px-[10px] py-[2px]" onclick="openPopupImage()">Ajouter une image</button>
        <button class="bg-blue-500 text-white rounded text-[12px] px-[10px] py-[2px]" onclick="openPopup()">Ajouter activité</button>
        <button class="bg-blue-500 text-white rounded text-[12px] px-[10px] py-[2px]" onclick="openPopupFinance()">Ajouter une financement</button>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-3 bg-white p-2 rounded"><%= render partial: "card", locals: { projet: @projet } %></div>
      <div class="col-span-3 p-2 rounded">
        <div class="grid grid-cols-4 gap-4">
          <div class="col-span-2 shadow rounded bg-white p-2">
            <p class="text-xl font-[500]"><%= @nbr_activite %> </p>
            <p class="text-[14px]">Nombre d'activités</p>
          </div>
          <div class="col-span-2 shadow rounded bg-white p-2">
            <p class="text-xl font-[500]"><%= @budget %>$</p>
            <p class="text-[14px]">Budget</p>
          </div>
        </div>
        <div class="w-full mt-2 rounded bg-white p-2">
          <p class="text-xl font-[500]"><%= @nbr_partenaires %></p>
          <p class="text-[14px]">Nombre de partenaires</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-4 p-2 bg-white rounded mt-2">
        <h1 class="text-xl font-[500]">Activités</h1>
        <table class="w-full text-[14px] text-center">
          <thead>
            <tr class="border-b-[1px] border-gray-400">
              <th>Titre</th>
              <th>Description</th>
              <th>Date debut</th>
              <th>Date fin</th>
            </tr>
          </thead>
          <tbody>
            <% @projet.activites.each do |activite| %>
              <tr class="border-b-[1px] border-gray-400">
                <td><%= activite.titre %></td>
                <td><%= activite.description %></td>
                <td><%= activite.date_debut %></td>
                <td><%= activite.date_fin %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-span-2 p-2 bg-white rounded mt-2">
        <h1 class="text-xl font-[500]">Partenaires</h1>
        <table class="w-full text-[14px] text-center">
          <thead>
            <tr class="border-b-[1px] border-gray-400">
              <th>ID</th>
              <th>Partenaire</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @financements.each do |financement| %>
              <tr class="border-b-[1px] border-gray-400">
                <td>
                  <%= financement.partenaire.id %>
                </td>
                <td>
                  <%= financement.partenaire.nom %>
                </td>
                <td><span class="text-blue-500">voir</span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    
    
    <div class="inline-block ml-2">
      <%= button_to "Supprimer ce projet", @projet, method: :delete, class: "mt-2 rounded-lg py-[2px] px-[10px] bg-red-700 text-[14px] text-red-300 font-medium" %>
    </div>
  </div>

  <%# Activités %>
  <div id="myPopup" class="fixed inset-0 flex items-center justify-center z-10 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
      <span class="close cursor-pointer text-gray-500" onclick="closePopup()">&times;</span>
      <p class="font-[500]">Ajouter un Activité</p>
      <%= render 'activites/form', activite: @activite %>
    </div>
    <div class="fixed inset-0 bg-black opacity-50"></div>
  </div>

  <%# Financement %>
  <div id="myPopupFinance" class="fixed inset-0 flex items-center justify-center z-10 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
      <span class="close cursor-pointer text-gray-500" onclick="closePopupFinance()">&times;</span>
      <p class="font-[500]">Ajouter une financement</p>
      <%= render 'financements/form', financement: @financement %>
    </div>
    <div class="fixed inset-0 bg-black opacity-50"></div>
  </div>

  <%# Image %>
  <div id="myPopupImage" class="fixed inset-0 flex items-center justify-center z-10 hidden">
    <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
      <span class="close cursor-pointer text-gray-500" onclick="closePopupImage()">&times;</span>
      <p class="font-[500]">Ajouter une image</p>
      <%= render 'image_form', image: @image %>
    </div>
    <div class="fixed inset-0 bg-black opacity-50"></div>
  </div>

  <script>
    function openPopup() {
      document.getElementById("myPopup").classList.remove("hidden");
    }
      
    function closePopup() {
        document.getElementById("myPopup").classList.add("hidden");
    }

    function openPopupFinance() {
      document.getElementById("myPopupFinance").classList.remove("hidden");
    }
      
    function closePopupFinance() {
        document.getElementById("myPopupFinance").classList.add("hidden");
    }

    function openPopupImage() {
      document.getElementById("myPopupImage").classList.remove("hidden");
    }
      
    function closePopupImage() {
        document.getElementById("myPopupImage").classList.add("hidden");
    }
  </script>

</div>
