<%= form_with(model: historique_apport, class: "contents") do |form| %>
  <% if historique_apport.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(historique_apport.errors.count, "error") %> prohibited this historique_apport from being saved:</h2>

      <ul>
        <% historique_apport.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :membre_conseil_id %>
    <%= form.text_field :membre_conseil_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="my-2">
    <%= form.label :montant_recu %>
    <%= form.text_field :montant_recu, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="my-2">
    <%= form.label :date_jour %>
    <%= form.date_field :date_jour, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-[3px] px-[10px] bg-blue-600 text-white inline-block cursor-pointer" %>
  </div>
<% end %>
