<tr id="<%= dom_id historique_apport %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td><%= historique_apport.membre_conseil.nom %></td>
  <td><%= historique_apport.montant_recu %> <%= historique_apport.devise %></td>
  <td><%= historique_apport.date_jour %></td>
  <td class="text-blue-500">
    <%= fa_icon "print" %>
  </td>
</tr>