<%= form_with(model: partenaire, class: "contents") do |form| %>
  <% if partenaire.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(partenaire.errors.count, "error") %> prohibited this partenaire from being saved:</h2>

      <ul>
        <% partenaire.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-6 mt-2">
      <%= form.label :nom %>
      <%= form.text_field :nom, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-3">
      <%= form.label :contact %>
      <%= form.text_field :contact, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-3">
      <%= form.label :mail %>
      <%= form.text_field :mail, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6">
      <%= form.label :type_partenaire, style: "display: block" %>
      <%= form.select :type_partenaire, options_for_select([
        ["Entreprise", "entreprise"],
        ["Particulier", "particulier"]
      ]), { include_blank: true }, class: "block h-[35px] shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="col-span-6">
      <%= form.label :adresse %>
      <%= form.text_area :adresse, rows: 2, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-[3px] px-[10px] mt-2 bg-blue-600 text-white inline-block cursor-pointer" %>
  </div>
<% end %>
