<div id="<%= dom_id partenaire %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= partenaire.nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= partenaire.contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= partenaire.mail %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adresse:</strong>
    <%= partenaire.adresse %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type partenaire:</strong>
    <%= partenaire.type_partenaire %>
  </p>

</div>
