<tr id="<%= dom_id partenaire %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td>
    
    <% if partenaire.photo.present? %>
      <%= image_tag(partenaire.photo.url, class: 'w-[40px] h-[40px]') %>
    <% end %>
    
  </td>
  <td><%= partenaire.nom %></td>
  <td><%= partenaire.type_partenaire %></td>
  <td><%= partenaire.contact %></td>
  <td><%= partenaire.mail %></td>
  <td><%= partenaire.adresse %></td>
  <td>
    <%= link_to "Voir", partenaire, class: "text-blue-500" %>
  </td>
</tr>
