<div class="w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% content_for :sub_title, t("Partenaires") %>

    <div class="grid grid-cols-6 gap-4">
      <div class="col-span-3 bg-white p-2 rounded flex">
        <div class="w-[150px] h-[800px] mr-2">
          
          <% if @partenaire.photo.present? %>
            <%= image_tag @partenaire.photo.middle.url, alt: 'partenaire', class: "w-[150px] h-[800px]" %>
          <% end %>
          
        </div>
        <%= render partial: "card", locals: { partenaire: @partenaire } %>
      </div>
      <div class="col-span-3 p-2 rounded">
        <div class="col-span-2 shadow rounded bg-white p-2">
          <p class="text-xl font-[500]"><%= @fond_investi %> </p>
          <p class="text-[14px]">Fond investi</p>
        </div>
        <div class="w-full mt-2 rounded shadow bg-white p-2">
          <p class="text-xl font-[500]"><%= @nbr_projets %></p>
          <p class="text-[14px]">Nombre de projets</p>
        </div>
      </div>
    </div>

    <div class="col-span-4 p-2 bg-white rounded mt-2">
        <h1 class="text-xl font-[500]">Projets financé</h1>
        <table class="w-full text-[14px] text-center">
          <thead>
            <tr class="border-b-[1px] border-gray-400">
              <th>Titre</th>
              <th>Date debut</th>
              <th>Date fin</th>
              <th>Investissement</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @projets_finances.each do |financement| %>
              <tr class="text-[12px] border-b-[1px] border-gray-400">
                <td><%= financement.titre %></td>
                <td><%= financement.date_debut %></td>
                <td><%= financement.date_fin %></td>
                <td><%= financement.montant %></td>
                <td><span class="text-blue-500">Voir</span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    <div class="inline-block ml-2">
      <%= button_to "Destroy this partenaire", @partenaire, method: :delete, class: "mt-2 rounded-lg py-[2px] px-[10px] bg-red-700 text-[14px] text-red-300 font-medium" %>
    </div>
  </div>
</div>
