<div id="<%= dom_id financement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Partenaire:</strong>
    <%= financement.partenaire_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Projet:</strong>
    <%= financement.projet_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Montant:</strong>
    <%= financement.montant %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Num bordereau:</strong>
    <%= financement.num_bordereau %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Banque:</strong>
    <%= financement.banque %>
  </p>

</div>
