<h1>Recu <%= @recu.id %></h1>
<div>Titre <%= @recu.titre %></div>
<p>date <%= @recu.created_at.strftime("%d/%m%Y") %> </p>
<p>description: <%= @recu.description %></p>
<p>Montant <%= @recu.montant %> <%= @recu.devise %> </p>