<div id="<%= dom_id salaire %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employe:</strong>
    <%= salaire.employe_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mois:</strong>
    <%= salaire.mois %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Annee:</strong>
    <%= salaire.annee %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Montant:</strong>
    <%= salaire.montant %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date jour:</strong>
    <%= salaire.date_jour %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apport local:</strong>
    <%= salaire.apport_local_id %>
  </p>

</div>
