<tr id="<%= dom_id membre_conseil %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td><%= salaire.employe_id %></td>
  <td><%= salaire.mois %> - <%= salaire.annee %></td>
  <td><%= salaire.montant %></td>
  <td>
    <%= link_to "Imprimer", salaire, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
</tr>
