<div class="w-full overflow-x-hidden">
    
    <% if user_signed_in? %>
        <div class="grid grid-cols-6 gap-4">
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-green-500">
                    <%= fa_icon "tasks" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"> <%= @projets_finances %> </span><br>
                        <span>Projets financés</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-red-500">
                    <%= fa_icon "tasks" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"><%= @projets_non_finances %></span><br>
                        <span>Projets non financés</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-blue-500">
                    <%= fa_icon "user-plus" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"><%= @partenaires %></span><br>
                        <span>Partenairs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-8 gap-4 mt-2">
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-blue-500">
                    <%= fa_icon "money" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"><%= @montant_apport_usd - @depenses_usd %></span><br>
                        <span>Caisse en dollars</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-green-500">
                    <%= fa_icon "money" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"> <%= @montant_apport_fc - @depenses_fc %> </span><br>
                        <span>Caisse fc</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 shadow rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-red-500">
                    <%= fa_icon "credit-card" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"> <%= @depenses_usd %> </span><br>
                        <span>Depenses dollars</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-red-500">
                    <%= fa_icon "credit-card" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold"> <%= @depenses_fc %> </span><br>
                        <span>Depenses fc</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-6 gap-4 mt-2">
            <div class="col-span-3 rounded-lg h-auto bg-white mt-2 shadow">
                <div class="p-2 flex justify-between h-[50px] items-center">
                    <span class="text-xl font-[500]">Projets</span>
                    <% if current_user.role != "trésorier" && "comptable" %>
                        <%= link_to "Créer un projet", new_projet_path, class: "text-blue-500 text-[12px]" %>
                    <% end %>
                    
                </div>
                <div class="p-2">
                    <table class="w-full text-center">
                        <thead>
                            <tr class="text-[14px] border-b-[1px] border-gray-400">
                                <th>titre</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-[12px]">
                            
                            <% @projets.each do |projet| %>
                               <tr class="border-b-[1px] border-gray-400">
                                    <td> <%= projet.titre %> </td>
                                    <td><%= projet.date_debut %> - <%= projet.date_fin %></td>
                                    <td class="text-green-500">
                                        <% if projet.statut == "non financé" %>
                                            <span class="text-red-500"><%= projet.statut %></span>
                                        <% else %>
                                            <span class="text-green-500"><%= projet.statut %></span>
                                        <% end %>
                                    </td>
                                    <td>
                                        <%= link_to "Voir", projet, class: "text-blue-500" %>
                                    </td>
                                </tr> 
                            <% end %>
        
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-span-3 rounded-lg h-auto bg-white mt-2 shadow">
                <div class="p-2 flex justify-between h-[50px] items-center">
                    <span class="text-xl font-[500]">Depenses</span>
                    <% if current_user.role == "trésorier" %>
                        <%= link_to "Ajouter un dépense", new_autres_depense_path, class: "text-blue-500 text-[12px]" %>
                    <% end %>
                </div>
                <div class="p-2">
                    <table class="w-full text-center">
                        <thead>
                            <tr class="text-[14px] border-b-[1px] border-gray-400">
                                <th>Libele</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-[12px]">
                            
                            <% @depenses.each do |depense| %>
                                <tr class="border-b-[1px] border-gray-400">
                                    <td><%= depense.titre %></td>
                                    <td><%= depense.date_jour %> </td>
                                    <td>
                                        <%= link_to 'print', recu_path(id: depense.id, format: :pdf), class: 'text-blue-500 cursor-pointer' %>
                                    </td>
                                </tr>
                            <% end %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% else %>
        <div class="relative px-4">
        <div class="overflow-hidden">
            <div class="flex transition-transform duration-500" id="carousel">
                <div class="min-w-full">
                    <%= image_tag("1.jpg", class: 'w-full h-[500px] rounded-lg') %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("2.jpg", class: 'w-full h-[500px] rounded-lg') %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("3.jpg", class: 'w-full h-[500px] rounded-lg') %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("4.jpg", class: 'w-full h-[500px] rounded-lg') %>
                </div>
            </div>
        </div>
    </div>
    <% end %>

    <script>
       let currentIndex = 0;
        const totalSlides = document.querySelectorAll('#carousel > div').length;

        function showSlide(index) {
            const slides = document.getElementById('carousel');
            currentIndex = (index + totalSlides) % totalSlides; // Gérer le cycle
            slides.style.transform = `translateX(-${currentIndex * 100}%)`;
        }

        function nextSlide() {
            showSlide(currentIndex + 1);
        }

        function prevSlide() {
            showSlide(currentIndex - 1);
        }

        // Changer d'image toutes les 5 secondes
        setInterval(() => {
            nextSlide();
        }, 10000);
    </script>
    
</div>