<div class="w-full">
    
    <% if user_signed_in? %>
        <div class="grid grid-cols-6 gap-4">
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-green-500">
                    <%= fa_icon "tasks" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234</span><br>
                        <span>Projets en cours</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-red-500">
                    <%= fa_icon "tasks" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234</span><br>
                        <span>Projets</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-blue-500">
                    <%= fa_icon "user-plus" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234</span><br>
                        <span>Partenairs</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-blue-500">
                    <%= fa_icon "users" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234</span><br>
                        <span>Employés</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-green-500">
                    <%= fa_icon "money" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234$</span><br>
                        <span>Montant Apports</span>
                    </div>
                </div>
            </div>
            <div class="col-span-2 rounded-lg h-[80px] bg-white mt-2 flex">
                <div class="text-3xl flex items-center px-4 text-red-500">
                    <%= fa_icon "credit-card" %>
                </div>
                <div class="text-[12px] pt-2 flex items-center">
                    <div>
                        <span class="text-xl font-bold">234$</span><br>
                        <span>Depenses</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-6 gap-4 mt-2">
            <div class="col-span-3 rounded-lg h-[200px] bg-white mt-2">
                <div class="p-2 flex justify-between h-[50px] items-center">
                    <span class="text-xl font-[500]">Projets</span>
                    <span class="text-blue-500 text-[12px]">Créer un projet</span>
                </div>
                <div class="p-2">
                    <table class="w-full text-center">
                        <thead>
                            <tr class="text-[14px] border-b-[1px] border-gray-400">
                                <th>titre</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-[12px]">
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024 - 28/06/2024</td>
                                <td class="text-green-500">terminé</td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024 - 28/06/2024</td>
                                <td class="text-red-500">en cours</td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024 - 28/06/2024</td>
                                <td class="text-green-500">Terminé</td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-span-3 rounded-lg h-[200px] bg-white mt-2">
                <div class="p-2 flex justify-between h-[50px] items-center">
                    <span class="text-xl font-[500]">Depenses</span>
                    <span class="text-blue-500 text-[12px]">Ajouter un dépense</span>
                </div>
                <div class="p-2">
                    <table class="w-full text-center">
                        <thead>
                            <tr class="text-[14px] border-b-[1px] border-gray-400">
                                <th>Libele</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-[12px]">
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024 </td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024</td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                            <tr class="border-b-[1px] border-gray-400">
                                <td>Lorem ipsum dolor sit</td>
                                <td>12/04/2024</td>
                                <td><span class="text-blue-500">voir</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <% end %>
    
    
</div>