<div class="w-full">
    <% if user_signed_in? %>
        <div class="flex justify-center">
            <%= link_to 'Employes', employes_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Partenaires', partenaires_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Projets', projets_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Membres conseil', membre_conseils_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Salaires', salaires_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Depenses', autres_depenses_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
            <%= link_to 'Apports', historique_apports_path, class: 'px-[10px] py-[3px] rounded-lg bg-blue-500 text-white text-[15px] ml-2' %>
        </div>
    <% end %>
    
</div>