<div id="<%= dom_id activite %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titre:</strong>
    <%= activite.titre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= activite.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date debut:</strong>
    <%= activite.date_debut %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date fin:</strong>
    <%= activite.date_fin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Projet:</strong>
    <%= activite.projet_id %>
  </p>

</div>
