<%= form_with(model: activite, class: "contents") do |form| %>
  <% if activite.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(activite.errors.count, "error") %> prohibited this activite from being saved:</h2>

      <ul>
        <% activite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-[14px]">
    <%= form.label :titre %>
    <%= form.text_field :titre, class: "block shadow rounded-md border border-gray-400 outline-none h-[35px] mt-2 w-full" %>
  </div>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-3 text-[14px]">
      <%= form.label :date_debut %>
      <%= form.date_field :date_debut, class: "block shadow rounded-md border border-gray-400 outline-none h-[35px] mt-2 w-full" %>
    </div>

    <div class="col-span-3 text-[14px]">
      <%= form.label :date_fin %>
      <%= form.date_field :date_fin, class: "block shadow rounded-md border border-gray-400 outline-none h-[35px] mt-2 w-full" %>
    </div>
  </div>

  <div class="text-[14px]">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 2, class: "block shadow rounded-md border border-gray-400 outline-none mt-2 w-full" %>
  </div>

 
  <%= form.text_field :projet_id, class: "block shadow rounded-md border border-gray-400 outline-none h-[35px] mt-2 w-full hidden" %>
 

  <div class="inline">
    <%= form.submit class: "rounded-lg py-[2px] px-[10px] bg-blue-600 text-white inline-block font-medium mt-4 cursor-pointer" %>
  </div>
<% end %>
