<div id="<%= dom_id autres_depense %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Apport local:</strong>
    <%= autres_depense.apport_local_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titre:</strong>
    <%= autres_depense.titre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Montant:</strong>
    <%= autres_depense.montant %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= autres_depense.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date jour:</strong>
    <%= autres_depense.date_jour %>
  </p>

</div>
