<%= form_with(model: autres_depense, class: "contents") do |form| %>
  <% if autres_depense.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(autres_depense.errors.count, "error") %> prohibited this autres_depense from being saved:</h2>

      <ul>
        <% autres_depense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.label :titre %>
    <%= form.text_field :titre, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="mb-2">
    <%= form.label :montant %>
    <%= form.text_field :montant, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="field">
    <%= form.label :devise %><br />
    <%= form.select :devise, options_for_select([
      ["USD", "USD"],
      ["FC", "FC"]
    ]), { prompt: "Sélectionnez la devise" }, class: "w-full rounded-lg" %>
  </div>

  <div class="mb-2">
    <%= form.label :date_jour %>
    <%= form.date_field :date_jour, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="mb-2">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 2, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-[2px] mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-[3px] px-[10px] bg-blue-600 text-white inline-block cursor-pointer" %>
  </div>
<% end %>
