<div id="<%= dom_id employe %>">
    <p><%= employe.nom %></p>
    <p><%= employe.post_nom %></p>
    <p><%= employe.contact %></p>
    <p><%= employe.mail %></p>
    <p><%= employe.adresses %></p>
</div>