<div id="<%= dom_id employe %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= employe.nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Post nom:</strong>
    <%= employe.post_nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= employe.contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mail:</strong>
    <%= employe.mail %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adresses:</strong>
    <%= employe.adresses %>
  </p>

</div>
